* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran', sans-serif;
}

                    /* header */
.navbar {
    display: flex;
    background-color: rgba (0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

.logo {
    height: 100px;
    width: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    margin-left: 15px;
}

.link-selectors {
    display: flex;
    height: 20px;
    padding-top: 40px;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 35px;
    color: white;
    text-decoration: none;
}

.header-link:hover {
    color: white;
    border: solid 1px darkolivegreen;
    background-color: black;
}

.nav-selectors {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

.nav-item {
    display: flex;

    justify-content: space-between;
    list-style: none;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 25px;
}

.nav-link:hover {
    color: white;
    border: solid 1px darkolivegreen;
    background-color: black;
}

                    /* top section */

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1513336484130-80d71af9596c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizeQuality;
    image-rendering: crisp-edges;
    background-position: center;
    text-align: center;
}

.top-container {
    color: white;
    font-size: x-large;
    border: solid white 2px;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
}


                    /* about section */

#about {
    background-color: rgb(63, 63, 63);
    color: white;
    height: 500px;
    padding: 50px;
}

.about-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 100%;
}

.photo {
    padding-right: 25px;
}

.about-photo {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border: solid black 1px;
}

.bio {
    padding-left: 25px;
    display: flex;
    align-items: center;
    width: 350px;
}


.bio-header {
    text-align: center;
    padding-bottom: 25px;
}

.bio-text {
    font-size: 1.2em;
}

                    /* MY SKILLS SECTION */

#my-skills {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 50px;
}

.skills {
    text-align: center;
    width: 100%;
    font-size: x-large;
}


.tech-icons {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    height: 100px;
    margin-bottom: 50px;
    width: 125px;
    font-size: larger;
}

.devicon-python-plain {
    font-size: 7rem;
}

.devicon-flask-original {
    font-size: 7rem;
}

.devicon-sqlalchemy-plain {
    font-size: 7rem;
} 

.devicon-bootstrap-plain {
    font-size: 7rem;
} 

.devicon-sqlite-plain {
    font-size: 7rem;
} 

.devicon-javascript-plain {
    font-size: 7rem;
}

.devicon-nodejs-plain {
    font-size: 7rem;
}

.devicon-postgresql-plain {
    font-size: 7rem;
}

.devicon-heroku-original {
    font-size: 7rem;
}

.devicon-express-original {
    font-size: 7rem;
}

.devicon-github-original {
    font-size: 7rem;
}

.devicon-html5-plain {
    font-size: 7rem;
}

.devicon-css3-plain {
    font-size: 7rem;
}

                        /* Projects section */

#projects {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 50px;
    font-size: larger;
}

.projects-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 400px;
    margin-right: 400px;
}

.foundations-capstone-photo {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.f30-capstone-photo {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.project-card {
    display: flex;
    justify-content: center;
    height: 900px;
}
.project-body {
    background-color: rgb(113, 113, 113);
    border-radius: 15px;
    width: 500px;
    padding: 20px;
}

.project-body-header {
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
}

.project-body-text {
    padding: 10px;
    text-align: center;
}

.project-framework {
    padding: 10px;
    text-align: center;
}

.project-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-decoration: underline;

}

.project-link:hover {
    color: white;
    border: solid 1px darkolivegreen;
    background-color: black;
}

                    /* contact section */

#contact {
    display: flex;
    justify-content: center;
    background-color: rgb(63, 63, 63);
    color: white;
    text-align: center;
    padding: 50px;
    font-size: larger;
}

.contact-header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 25px;
}

#footer {
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.footer-text {
    color: white;
    padding-right: 10px;
    padding-top: 10px;
}

.devicon-github-original-wordmark {
    font-size: 2rem;
    padding-right: 10px;
    padding-top: 10px;
    color: white;
}

.devicon-github-original-wordmark:hover {
    color: greenyellow;
}

.devicon-linkedin-plain {
    font-size: 2rem;
    color: white;
}

.devicon-linkedin-plain:hover {
    color: greenyellow;
}