#top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/pictures/unsplash/portfolio-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
    color: #002400;
    text-align: center;
}